/*=============================================
=            TOP3 SHORTCODE STYLES 	          =
=============================================*/

.top-three-list {
    margin-bottom: 40px;
}

.top-three-single {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .1);
    padding: 20px 15px 10px;
    border-radius: 10px;
}

.element-1 span {
    background: green;
    color: #fff;
    padding: 5px;
    border-radius: 100px;
    font-size: 18px;
}

.top-three-single .element-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.element-2 img {
    width: 130px;
    height: 55px;
    object-fit: contain;
}

.element-2 .casino-name {
    background: #e8e8e8;
    line-height: 20px;
    padding: 0 5px;
    border-radius: 5px;
    font-size: 12px;
    letter-spacing: -1px;
}

.element-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.element-3 .bonus {
    line-height: 20px;
    text-align: center;
    font-size: 16px;
    letter-spacing: -1px;
}

.element-3 .label {
    color: #fff;
    background: darkgoldenrod;
    font-size: 12px;
    font-weight: 500;
    padding: 0 5px;
    border-radius: 5px;
    line-height: 20px;
    margin-top: 5px;
    text-transform: uppercase;
}

.element-4 .plus {
    line-height: 25px;
    display: flex;
    align-items: center;
    font-size: 14px;
    letter-spacing: -1px;
}

.element-4 .plus img {
    max-width: 18px;
    margin-right: 5px;
}

.element-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
}

.element-5 .first-row {
    line-height: 20px;
}

.element-5 .first-row span {
    color: #333;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
}

.element-5 .second-row {
    border-bottom: 1px solid #d0d0d0;
}

.element-5 .second-row, .element-5 .third-row {
    color: #333;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 17px;
}

.element-5 .third-row span {
    color: #f43d45;
    font-weight: bold;
    margin-right: 3px;
}

.element-6 .cta-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.element-6 .cta-btn .btn-left {
    background-color: #2dbf38;
    color: #fff;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border-right: 1px solid #1c9a25;
    display: flex;
    align-items: center;
    height: initial;
}

.element-6 .cta-btn .btn-left img {
    max-width: 24px;
}

.element-6 .cta-btn .btn-right a {
    color: #fff;
    font-weight: 500;
}

.element-6 .cta-btn .btn-right {
    background-color: #3ec148;
    padding: 6px 30px 6px 10px;
    border-radius: 0 5px 5px 0;
    height: initial;
}

.element-7 a {
    color: #0087c6;
    letter-spacing: -1px;
}

.element-1 {
    flex: 0 0 3%;
}

.element-2 {
    flex: 0 0 12%;
}

.element-3 {
    flex: 0 0 20%;
    margin-right: 30px;
}

.element-4 {
    flex: 0 0 17%;
}

.element-5 {
    flex: 0 0 14%;
}

.element-6 {
    flex: 0 0 22%;
}

.element-7 {
    flex: 0 0 7%;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
}

.review-terms {
    flex: 0 0 100%!important;
    font-size: 9px!important;
    margin: 0!important;
    line-height: 15px!important;
    margin-top: 10px!important;
    color: #716F6F!important;
}

.review-terms a {
    white-space: pre!important;
}

@media (max-width:767px) {
    .top-three-single {
        flex-direction: column;
        position: relative;
    }
    .element-1 {
        position: absolute;
        left: 10px;
    }
    .element-2 .casino-name {
        display: none;
    }
    .element-2 img {
        width: 165px;
        height: 80px;
    }
    .element-3 {
        margin: 0;
    }
    .element-3.desktop, .element-4.desktop, .element-5.desktop {
        display: none;
    }
    .mobile-row .element-4 {
        display: none;
    }
    .mobile-row {
        display: flex;
        width: 100%;
        justify-content: space-around;
        padding: 20px 0;
    }
    .mobile-row .element-3, .mobile-row .element-5 {
        flex: 0 0 45%;
        background: #dbebf8;
        padding: 20px 5px;
    }
    .element-7 {
        padding-top: 10px;
    }
}

@media (min-width:768px) {
    .mobile-row {
        display: none;
    }
}

/*=============================================
=            TOP3 SHORTCODE STYLES 	          =
=============================================*/

/*=============================================
=            SIMPLE SHORTCODE STYLES 	      =
=============================================*/

.simple-list {
    margin: 20px 0;
}

.simple-single {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .1);
    padding: 20px 15px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.simple-single .element-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.simple-single .simple-casino-name {
    line-height: 0px;
    font-size: 12px;
}

.simple-list .element-3 {
    flex: 0 0 29%;
    margin: 0;
}

.simple-list .element-5 {
    line-height: 15px;
}

.simple-list .element-6 {
    flex: 0 0 18%;
}

.simple-list .element-5 .first-row, .simple-list .element-5 .second-row {
    font-size: 14px;
    font-weight: normal;
    color: #333;
    border: none;
    text-transform: initial;
}

.simple-list .element-6 .cta-button a {
    display: flex;
    background: #0087c6;
    border-radius: 5px;
    color: #fff;
    justify-content: center;
}

/* For filter */

.filter-item-wrapper img {
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    width: 55px;
    height: 31px;
    object-fit: contain;
    margin-right: 15px;
    padding: 5px;
}

.filter-item-wrapper img:not(:last-child) {
    margin-right: 5px;
}

@media (max-width:767px) {
    .simple-single {
        padding: 15px;
    }
    .simple-single .element-4, .simple-single .element-6, .simple-single .element-7 {
        display: none;
    }
    .simple-single .element-2 {
        flex: initial;
    }
    .simple-list .element-3 {
        flex: 1!important;
    }
    .simple-single .element-2 img {
        width: 100px;
        height: 45px;
    }
    .simple-single .element-5 {
        flex: initial;
    }
}

/*=============================================
=            END SHORTCODE STYLES 	          =
=============================================*/

/*=============================================
=                 BOX STYLES 	              =
=============================================*/

.box-terms {
    text-align: center;
    position: relative;
}

.box-terms .box-tnc-text {
    width: 275px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .1);
    background-color: #fff;
    padding: 10px;
    font-size: 9px;
    color: #716F6F;
    border-radius: 10px;
    text-align: left;
    margin: 0;
    display: none;
    position: absolute;
    top: 38px;
    left: 50%;
    transform: translate(-50%);
    z-index: 50;
}

.box-terms .box-tnc-text a {
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

.box-terms .box-tnc {
    font-size: 12px;
}

.box-tnc:hover {
    cursor: pointer;
    text-decoration: underline;
}

.box-list {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    gap: 10px;
    margin: 20px 0;
}

.box-single {
    border: 1px solid #d0d0d0;
    padding: 0 20px;
    border-radius: 5px;
    background-image: url('../img/box-bg.png');
}

.box-logo {
    display: flex;
    justify-content: center;
}

.box-logo img {
    width: 180px;
    height: 80px;
    object-fit: contain;
}

.box-bonus {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12px;
}

.box-bonus div:first-child {
    color: #fff;
    background: #ce2029;
    padding: 8px;
    border-radius: 5px;
    line-height: 15px;
    font-size: 18px;
}

.box-bonus div:nth-child(2) {
    line-height: 25px;
    font-size: 15px;
}

.bonus-text {
    font-size: 14px;
}

.bonus-code {
    text-align: center;
    border: 1px dashed #a4aeb5;
    border-radius: 5px;
    color: #5b5f6e;
    font-size: 14px;
    padding: 3px 0;
}

.flag-approved {
    font-size: 14px;
}

.claim-btn {
    padding: 15px 0 5px;
}

.claim-btn a {
    display: flex;
    background: #3ec148;
    color: #fff;
    text-transform: uppercase;
    justify-content: center;
    padding: 6px 0;
    border-radius: 5px;
}

@media (max-width:767px) {
    .box-list {
        grid-template-columns: 1fr;
    }
}

/* Slots shortcode */

.videoslot-list {
    display: grid;
    grid-template-columns: repeat(5, 19.3%);
    gap: 10px;
}

.single-vs:hover {
    cursor: pointer;
}

.single-vs:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.single-vs:first-child .main-vs {
    height: 338px;
}

.main-vs {
    position: relative;
    height: 164px;
    background-size: cover;
    background-position: 50% 0;
    border-radius: 5px;
}

.overlay-vs {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    display: none;
    padding-top: 20px;
}

.overlay-vs span {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 22px;
    text-align: center;
}

.overlay-vs a {
    color: #fff;
    font-size: 14px;
    text-decoration: underline;
}

.single-vs .vs-finger {
    max-width: 32px;
}

.videoslots-iframe {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.videoslots-btn {
    margin-top: 20px;
    margin-bottom: 180px;
    background: #3ec148;
    width: 800px;
    border-radius: 5px;
}

.videoslots-other {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    background: #232629;
    padding: 20px 0;
}

.videoslots-btn a {
    color: #fff;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    padding: 5px 0;
    display: flex;
    justify-content: center;
}

.videoslots-iframe iframe {
    box-shadow: 2px 0px 20px 10px rgba(0, 0, 0, 0.75);
}

.videoslot-bg {
    background: #1d2023;
    position: relative;
}

.videoslots-info {
    background: #ECECEC;
    margin-top: 20px;
    border-radius: 5px;
}

.videoslots-table {
    display: flex;
    justify-content: space-between;
}

.table-left, .table-right {
    flex: 0 0 48%;
    border-radius: 5px;
}

.vs-wrap {
    padding: 20px;
}

.single-videoslot .vs-wrap h3, .single-videoslot .videoslot-related h3 {
    text-transform: uppercase;
    font-size: 18px!important;
    font-weight: 400;
    margin-bottom: 5px;
}

.vs-row {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 14px;
    padding: 2px 16px;
}

.vs-row:first-child {
    border-radius: 5px 5px 0 0;
}

.vs-row:last-child {
    border-radius: 0 0 5px 5px;
}

.vs-row:nth-child(odd) {
    background-color: #393939;
}

.vs-row:nth-child(even) {
    background-color: #1E1E1E;
}

.videoslot-lower {
    margin-top: 40px;
}

.single-videoslot-content .custom-header {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
}

@media (max-width:767px) {
    .videoslot-list {
        grid-template-columns: auto;
    }
    .videoslots-table {
        flex-wrap: wrap;
    }
    .table-left, .table-right {
        flex: 0 0 100%;
    }
    .table-right {
        margin-top: 20px;
    }
    .videoslots-btn {
        width: 90%;
    }
    .single-videoslot iframe {
        width: 99%;
        height: 380px;
        box-shadow: none;
    }
}

.iframe-vs-list {
    display: flex;
    justify-content: space-evenly;
}

.iframe-vs-single {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 24px;
}

.iframe-vs-list img {
    width: 150px;
    height: 110px;
    object-fit: contain;
    border-radius: 5px;
}

.iframe-vs-title {
    color: #fff;
    font-size: 16px;
}

.iframe-vs-software {
    font-size: 12px;
    color: #848586;
}

@media (max-width:768px) {
    .videoslots-other {
        display: none;
    }
}

.videoslot-filter {
    border-bottom: 1px solid #d0d0d0;
    margin: 20px 0;
}

.vs-js-filter-item {
    color: #4b4e5d;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
}

.vs-js-filter-item:not(:last-child) {
    margin-right: 45px;
}

@media (max-width:767px) {
    .videoslot-filter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 0;
    }
    .videoslot-filter a {
        flex: 0 0 49%;
    }
    .vs-js-filter-item:not(:last-child) {
        margin: 0;
    }
}

/* Loader CSS */

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #ce2029;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

div.loader, div.vs-loader {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}