/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.aic-container {
    width    : 115rem;
    max-width: 100%;
    margin   : 0 auto;
    padding  : 0 1.5rem !important;
}

/* Dropdown pages */
.dropdown-pages {
    width: 350px;
}

.dropdown-button {
    border          : none;
    background-color: transparent !important;
    border-bottom   : 1px solid #333;
    padding         : 10px;
    box-shadow      : 0 2px 6px 0 rgb(2 29 56 / 15%);
    font-size       : 18px;
    text-align      : left;
    display         : flex;
    justify-content : space-between;
    width           : 100%;
    outline         : none;
}

.dropdown-button:hover {
    cursor: pointer;
}

.dropdown-button::after {
    content: "\2926";
    display: inline-block;
}

.drop-down-content {
    display         : none;
    background-color: #e5e8eb;
    padding         : 10px;
}

.drop-down-content a {
    color: #021d38;
}

.drop-down-content a:hover {
    color: #174c81;
}

@media (max-width:767px) {
    .dropdown-pages {
        width: 100%;
    }
}


.load-more-loader img {
    max-width: 32px;
}

.load-more-wrap {
    display: flex;
    justify-content: center;
}

.load-more-casinos {
    background-color: #3ec148;
    color: #fff;
    padding: 5px 25px;
    border-radius: 100px;
}

.load-more-casinos:hover {
    cursor: pointer;
}