.single-casino-review .casino-review-title {
    border-bottom : 1px solid #e3e3e3;
    padding-bottom: 1rem;
    margin        : 2rem 0;
    position      : relative;
}

.single-casino-review .casino-review-title h1 {
    font-size     : 2rem;
    font-weight   : normal;
    font-size     : 2.4rem !important;
    line-height   : 2.2rem;
}

.single-casino-review .casino-intro {
    padding: 20px;
}

.single-casino-review .casino-review-title:after {
    content   : "";
    position  : absolute;
    bottom    : -1px;
    width     : 15%;
    height    : 3px;
    background: #ce2029;
}

.casino-intro-left {
    flex      : 0 0 36%;
    align-self: center;
}

.casino-intro-center {
    flex: 0 0 32%;
}

.casino-intro-right {
    flex: 0 0 32%;
}

.casino-intro {
    display         : flex;
    flex-wrap       : wrap;
    border          : 1px solid #d0d0d0;
    background-color: #fafafa;
    border-radius   : 5px;
}

.intro-block-welcome {
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    background-color: #fff;
    border          : 1px solid #d0d0d0;
    border-radius   : 5px;
    padding         : 10px;
}

.intro-block-welcome .welcome-logo img {
    width     : 180px;
    height    : auto;
    object-fit: contain;
}

.intro-block-welcome .welcome-bonus-info {
    line-height   : 18px;
    text-transform: uppercase;
    text-align    : center;
}

.intro-block-welcome .welcome-bonus-info span {
    text-align: center;
}

.casino-intro-center {
    display        : flex;
    justify-content: center;
    border-right   : 1px solid #d0d0d0;
    align-items    : center;
}

.casino-intro-center .review-pluses {
    display       : flex;
    flex-direction: column;
}

.casino-intro-right {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.casino-intro-right {
    padding        : 20px 0;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: space-between;
}

.welcome-bonus-info div:first-of-type {
    color        : #fff;
    background   : #ce2029;
    padding      : 3px 10px;
    border-radius: 5px;
}

.welcome-bonus-info a {
    color        : #fff;
    background   : #ce2029;
    padding      : 3px 10px;
    border-radius: 5px;
}

.welcome-bonus-info div:nth-of-type(2) {
    font-size: 13px;
    margin   : 3px 0;
}

.welcome-bonus-info div:nth-of-type(3) {
    font-size    : 13px;
    font-weight  : bold;
    background   : #0087c6;
    display      : inline;
    color        : #fff;
    padding      : 3px 10px;
    border-radius: 5px;
}

.pluses-container {
    display      : flex;
    align-items  : center;
    margin-bottom: 5px;
}

.pluses-container img {
    max-width   : 22px;
    margin-right: 5px;
}

.review-slot-games span {
    color      : #333;
    font-size  : 32px;
    font-weight: bold;
    line-height: 20px;
    padding    : 4px;
}

.review-slot-games .slot-games {
    color         : #00000c;
    font-weight   : 500;
    font-size     : 16px;
    text-transform: uppercase;
}

.welcome-cta {
    margin-top: 15px;
}

.cta-btn {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.cta-btn .btn-left {
    background-color: #2dbf38;
    color           : #fff;
    padding         : 10px;
    border-radius   : 5px 0 0 5px;
    border-right    : 1px solid #1c9a25;
    display         : flex;
    align-items     : center;
}

.cta-btn .btn-left img {
    max-width: 24px;
}

.cta-btn .btn-right a {
    color      : #fff;
    font-weight: 500;
}

.cta-btn .btn-right {
    background-color: #3ec148;
    padding         : 6px 30px 6px 10px;
    border-radius   : 0 5px 5px 0;
}

.review-live-games,
.review-bonus-code {
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

.review-slot-games {
    line-height: 24px;
    text-align : center;
}

.review-live-games {
    line-height: 12px;
    margin     : 20px 0;
}

.review-live-wrap {
    display      : flex;
    align-items  : center;
    color        : #f43d45;
    font-size    : 24px;
    font-weight  : bold;
    border       : 1px dashed #d0d0d0;
    padding      : 5px 30px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.review-live-wrap img {
    max-width   : 22px;
    margin-right: 5px;
}

.review-live-games .live-games {
    color         : #00000c;
    font-weight   : 500;
    font-size     : 16px;
    text-transform: uppercase;
}

.review-bonus-code span:nth-child(2) {
    font-weight     : bold;
    font-style      : italic;
    border          : 1px dashed #d0d0d0;
    border-radius   : 5px;
    padding         : 3px 50px;
    background-color: #fff;
}

@media (max-width:767px) {
    .casino-intro {
        flex-direction: column;
    }
}

.review-nav {
    margin       : 20px 0;
    border-bottom: 1px solid #d0d0d0;
}

.review-nav a {
    color         : #4b4e5d;
    text-transform: uppercase;
    font-weight   : 400;
    font-size     : 14px;
}

.review-nav a:not(:last-child) {
    margin-right: 10px;
}

.single-casino-review .page-content h2 {
    color         : #3b3f4f;
    font-size     : 18px;
    text-transform: uppercase;
    display       : flex;
    align-items   : center;
}

.single-casino-review .page-content h2 img {
    max-width   : 20px;
    margin-right: 5px;
}

.review-table_header img {
    max-width   : 20px;
    margin-right: 5px;
}

.review-table_header {
    display    : flex;
    align-items: center;
}

.about-bonus-box {
    display        : flex;
    justify-content: space-around;
    align-items    : center;
    background     : #333;
    color          : #fff;
    padding        : 20px;
    border-radius  : 5px;
    margin-bottom  : 20px;
}

.about-bonus__text {
    font-size     : 20px;
    text-transform: uppercase;
}

.review-table {
    background: #fafafa;
    margin    : 20px 0;
}

.review-table_header {
    background    : #f3f3f3;
    padding       : 5px 10px;
    text-transform: uppercase;
}

.review-table__fields {
    padding: 10px;
}

.gi-field {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    padding        : 3px 0;
}

.gi-field:not(:last-child) {
    border-bottom: 1px solid #d0d0d0;
}

.bonus-box-wrap {
    width          : 100%;
    display        : flex;
    justify-content: flex-start;
}

.bonus-box {
    flex           : 0 0 32%;
    border         : 1px dashed #d0d0d0;
    display        : flex;
    justify-content: space-between;
    flex-direction : column;
    align-items    : center;
    padding        : 5px 20px;
    margin         : 15px 0;
}

.bonus-box:not(:last-child) {
    margin-right: 15px;
}

.bonus-box__header {
    color         : #d0d0d0;
    text-transform: uppercase;
    font-size     : 14px;
}

.bonus-box__bonus {
    color         : #ce2029;
    font-weight   : 500;
    text-transform: uppercase;
    line-height   : 20px;
    font-size     : 18px;
    text-align    : center;
}

.bonus-box__label {
    color         : #fff;
    background    : #0087c6;
    font-size     : 12px;
    padding       : 0 12px;
    border-radius : 5px;
    margin        : 10px 0;
    text-transform: uppercase;
    font-weight   : 500;
    line-height   : 16px;
}

.bonus-box__cta {
    background   : #26bc5d;
    width        : 100%;
    text-align   : center;
    border-radius: 5px;
    padding      : 5px 0;
    margin       : 5px 0 15px;
}

.bonus-box__cta a,
.bonus-box__cta i {
    color      : #fff;
    font-weight: 500;
}

@media (max-width:767px) {
    .bonus-box-wrap {
        flex-wrap: wrap;
    }

    .bonus-box {
        flex: 0 0 100%;
    }

    .gi-field {
        line-height: 20px;
        font-size  : 14px;
    }

    .gi-field__right {
        text-align: right;
    }

    .about-bonus__text {
        text-align   : center;
        line-height  : 24px;
        margin-bottom: 10px;
    }

    .about-bonus-box {
        flex-direction: column;
    }

    .review-nav {
        display        : flex;
        flex-wrap      : wrap;
        justify-content: flex-start;
        border-radius  : 5px;
        border         : none;
    }

    .review-nav a {
        border-bottom: 1px solid #d0d0d0;
        line-height  : 24px;
        flex         : 0 0 45%;
    }

    .review-nav a:not(:last-child) {
        margin      : 0;
        margin-right: 10px;
    }

    .intro-block-welcome {
        /* width: 340px; */
    }

    .casino-intro-center {
        border: none;
    }

    .casino-intro-right {
        margin-top: 15px;
    }

    .casino-intro {
        flex-direction : column;
        flex-wrap      : wrap;
        justify-content: center;
        align-items    : center;
    }

    .casino-intro-right {
        padding: 0;
        height : 220px;
    }

    .pluses-container {
        line-height: 12px;
        padding    : 6px 0;
    }
}

/* Bottom bonus box */

.review-bottom-block {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    background     : #ef4845;
    box-shadow     : 0px 0px 8px 1px rgba(0, 0, 0, .2);
    color          : #fff;
    padding        : 20px;
    border-radius  : 10px;
}

.review-bottom-block:hover {
    cursor: pointer;
}

.bottom-block-img img {
    width     : 180px;
    height    : auto;
    object-fit: contain;
}

.block-bonus-txt {
    font-size     : 2.4rem;
    font-weight   : bold;
    text-transform: uppercase;
    line-height   : 2.4rem;
    flex          : 0 0 45%;
    text-align    : center;
}

.bb-btn {
    color           : #fff;
    background-color: #2dbf38;
    padding         : 5px 20px;
    border-radius   : 5px;
    font-weight     : bold;
}

.bb-btn:hover {
    background-color: #23912c;
}

@media (max-width:767px) {
    .review-bottom-block {
        flex-direction: column;
        width         : 90%;
        margin        : 0 auto;
    }
}

