.casino-review-widget {
    margin-bottom: 40px;
}

.casino-review-widget-image a {
    display: flex;
}

.casino-review-widget h3 {
    background-color: #ce2029;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px;
    border-radius: 5px 5px 0 0;
}

.casino-review-widget h3::after {
    content: "-";
    display: block;
    background: #fff;
    width: 39px;
    line-height: 2px;
    font-size: 2px;
    margin-top: .3rem;
}

.casino-review-widget-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 5px;
}

.casino-review-widget-wrap:hover {
    background:#f1f1f1;
}

.casino-review-widget-image {
    flex: 0 0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.casino-review-widget-image img {
    width: 56px;
    height: 53px;
    object-fit: contain;
    padding: 0 3px;
}

.casino-review-widget-bonus {
    display: flex;
    flex-direction: column;
    margin: 0 5px 0 10px;
}

.casino-review-widget-bonus a:first-child {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: -1px;
    line-height: 15px;
    color: #3b3f4f;
}

.casino-review-widget-bonus span:nth-child(2) {
    color: #3b3f4f;
    line-height: 15px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: -1px;
}

.review-cta {
    margin: 0 0 0 auto;
    padding-right: 5px;
}

.review-cta span {
    background-color: #3ec148;
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
}